- title: "{{packageName}}"
  nav_title: Overview
  url: /
  nav_group: start
  nav_order: 1
- title: Getting Started
  url: /getting-started/
  nav_group: start
  nav_order: 2
- title: Tutorials
  url: /tutorials/
  nav_group: learn
  nav_order: 1
- title: Recipes
  url: /recipes/
  nav_group: learn
  nav_order: 2
- title: Gallery
  url: /gallery/
  nav_group: learn
  nav_order: 3
- title: Concepts
  url: /concepts/
  nav_group: extension
  nav_order: 1
- title: API
  url: /api/
  nav_group: extension
  nav_order: 2
- title: Reference
  url: /reference/
  nav_group: reference
  nav_order: 1
- title: Supported Features
  url: /supported-features/
  nav_group: reference
  nav_order: 2
- title: Troubleshooting
  url: /troubleshooting/
  nav_group: reference
  nav_order: 3
