{
  "compilerOptions": {
    "target": "ES2022",
    "module": "NodeNext",
    "moduleResolution": "NodeNext",
    "strict": true,
    "noEmit": true,
    "skipLibCheck": false,
    "exactOptionalPropertyTypes": true
  },
  "include": [
    "types/**/*.d.ts",
    "test/types/**/*.ts"
  ]
}
